{{#extend "layout"}}
  {{#content "body"}}
    <div class="application">
      <form id="regexp-form">
        <textarea id="regexp-input" autofocus="autofocus" placeholder="输入JavaScript正则表达式进行可视化展示"></textarea>
        <button type="submit">展示</button>

        <ul class="inline-list">
          <li class="download-svg">
            <a href="#" class="inline-icon" data-action="下载 svg 格式" download="image.svg" type="image/svg+xml">{{icon "#data-transfer-download"}}下载 SVG</a>
          </li>
          <li class="download-png">
            <a href="#" class="inline-icon" data-action="下载 png 格式" download="image.png" type="image/png">{{icon "#data-transfer-download"}}下载 PNG</a>
          </li>
          <li class="permalink">
            <a href="#" class="inline-icon" data-action="永久链接">{{icon "#link-intact"}}永久链接</a>
          </li>
        </ul>
      </form>
    </div>

    <div class="results">
      <div id="error"></div>

      <ul id="warnings"></ul>

      <div id="regexp-render"></div>
    </div>

  {{/content}}

  {{#content "footer" mode="append"}}
    <script src="/js/main.js" async defer></script>
  {{/content}}
{{/extend}}
